/* Center the carousel-wrapper both horizontally and vertically */
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 766px);
}

.carousel-section h2 {
  font-size: 2rem; /* Adjust size for emphasis */
  font-weight: bold; /* Keep it bold */
  text-align: center; /* Center the text */
  color: #f9f9f9; /* A deep blue color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle text shadow */
  padding: 0.5rem 1rem; /* Add some padding */
  border-bottom: 3px solid #1e40af; /* Add a bottom border to separate the section */
  display: inline-block; /* Inline block to size border correctly */
  width: 100%;
  max-width: 1025px;
  background: linear-gradient(90deg, #3b82f6, #87888c);
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

/* 
.carousel-container {
  overflow: hidden;
  position: relative;
} */

/* Carousel inner styling */
.carousel-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

/* Carousel buttons styling */
.carousel-prev,
.carousel-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .carousel-item {
    width: 25%; /* Show 4 items */
  }
}

@media (max-width: 768px) {
  .carousel-item {
    width: 33.33%; /* Show 3 items */
  }
}

@media (max-width: 480px) {
  .carousel-item {
    width: 50%; /* Show 2 items */
  }
}

@media (max-width: 320px) {
  .carousel-item {
    width: 100%; /* Show 1 item */
  }
}