<section class="profile-page max-w-screen-lg mx-auto my-8 p-6 bg-gray-100 rounded-lg">
  <ng-container *ngIf="user; else errorTemplate">
    <!-- User Information -->
    <div class="profile-info flex items-center gap-4 mb-8">
      <img [src]="user.avatar" alt="User Avatar" class="w-24 h-24 rounded-full border border-gray-300" />
      <div>
        <h2 class="text-3xl font-bold">{{ user.username || 'Name not available' }}</h2>
        <p class="text-gray-600">Email: {{ user.email || 'E-mail not available' }}</p>
      </div>
    </div>
  </ng-container>

  <!-- Error Message -->
  <ng-template #errorTemplate>
    <p class="text-red-500">{{ errorMessage }}</p>
  </ng-template>

  <!-- Favorite Movies Section -->
  <div class="favorites mb-8">
    <h3 class="text-2xl font-semibold mb-4">Favorite Movies</h3>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <div *ngFor="let movie of favoriteMovies" class="movie-card bg-white rounded shadow-md p-4">
        <img [src]="'movie.jpg'" alt="Movie Thumbnail" class="w-full h-64 object-cover rounded" />
        <h4 class="text-lg font-semibold mt-2">{{ movie.title }}</h4>
      </div>
    </div>
  </div>

  <!-- User Reviews Section -->
  <div class="user-reviews">
    <h3 class="text-2xl font-semibold mb-4">Your Reviews</h3>
    <div
      *ngFor="let review of reviews"
      [id]="'review-' + review.id"
      class="review bg-white rounded shadow-md p-4 mb-4 cursor-pointer hover:bg-blue-100"
      [routerLink]="['/movie', review.movieId]"
      [queryParams]="{ highlightReview: review.id }"
    >
      <p class="font-bold">
        {{ review.movieTitle }}
        <span *ngIf="review.authorTag" class="text-blue-500 text-sm font-semibold italic">
          <!-- {{ review.authorTag }} NOT NEEDED IN PROFILE -->
        </span>
        <span class="text-gray-500 text-sm">- {{ review.createdAt | date: 'mediumDate' }}</span>
      </p>

    <!-- Rating Section -->
    <div *ngIf="review.rating !== null" class="flex items-center mt-1 mb-2">
      <span class="text-yellow-500 text-lg mr-2">★</span> <!-- Star Icon -->
      <span class="text-gray-700 text-sm font-medium">{{ review.rating }}/10</span>
    </div>

    <!-- Review Content -->
    <p class="text-gray-600 break-words whitespace-pre-wrap">
      {{
        review.content.length > 150
          ? (review.content | slice: 0:150) + '...'
          : review.content
      }}
    </p>
  </div>

    <!-- Load More Button -->
    <button
      *ngIf="currentPage < totalPages"
      class="px-6 py-2 text-white font-medium uppercase tracking-wider bg-blue-600 hover:bg-gray-300 hover:text-blue-600 active:bg-blue-800 rounded-lg shadow-md transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 mt-4"
      (click)="loadMoreReviews()"
    >
      Load More
    </button>
  </div>
</section>