<section class="movie-details max-w-screen-lg mx-auto my-6 p-4 bg-gray-100 rounded-lg">
  <!-- Movie Information Section -->
  <div *ngIf="movie; else loading" class="flex flex-col md:flex-row gap-6">
    <img 
    [src]="movie?.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : 'assets/movie.jpg'" 
    alt="Movie Poster" 
    class="w-full md:w-1/3 h-auto rounded" 
    />
    <div class="flex flex-col justify-between">
      <div>
        <h2 class="text-3xl font-bold">{{ movie.title }}</h2>
        <!-- Rating Display -->
        <div class="flex items-center my-2">
          <!-- Circular Rating -->
          <div class="relative w-16 h-16">
            <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
              <circle
                cx="18"
                cy="18"
                r="15.9155"
                class="text-gray-200"
                stroke="currentColor"
                stroke-width="3.5"
                fill="none"
              ></circle>
              <circle
                cx="18"
                cy="18"
                r="15.9155"
                [attr.stroke-dasharray]="(movie.vote_average * 10) + ', 100'"
                [class]="
                  movie.vote_average * 10 > 85 ? 'text-green-300' :
                  movie.vote_average * 10 > 80 ? 'text-green-500' :
                  movie.vote_average * 10 > 75 ? 'text-yellow-300' :
                  movie.vote_average * 10 > 70 ? 'text-yellow-500' :
                  movie.vote_average * 10 > 60 ? 'text-orange-400' :
                  movie.vote_average * 10 > 50 ? 'text-red-400' :
                                                 'text-red-600'"
                stroke="currentColor"
                stroke-width="3.5"
                stroke-linecap="round"
                fill="none"
              ></circle>
            </svg>
            <div class="absolute inset-0 flex items-center justify-center text-xs font-bold text-gray-800">
              {{ movie.vote_average * 10 | number:'1.0-0' }}<span class="text-[10px]">%</span>
            </div>
          </div>
          <!-- Rating Text -->
          <p class="ml-3 text-lg text-gray-700 font-semibold">Rating</p>
        </div>

        <!-- Movie Description Header -->
        <h3 class="text-xl font-bold mt-4 mb-2">Movie Description:</h3>
        <p 
          class="mb-4"
          [ngClass]="{ 
            'text-lg': movie.overview.length <= 450, 
            'text-base': movie.overview.length > 450 
          }"
        >
          {{ movie.overview }}
        </p>
        <p class="text-gray-600">
          Release Date: {{ movie.release_date || 'Unknown' }}
        </p>
        <p class="text-gray-600">
          Runtime: {{ movie.runtime > 0 ? movie.runtime + ' mins' : 'Unknown' }}
        </p>
        <div class="flex flex-wrap gap-2 mt-4">
          <span *ngFor="let genre of movie.genres" class="bg-blue-600 text-white py-1 px-3 rounded">{{ genre.name }}</span>
        </div>
      </div>
      <button 
      *ngIf="trailerUrl"
      class="px-6 py-2 mx-2 text-sm text-white font-medium uppercase tracking-wider bg-blue-600 hover:bg-gray-300 hover:text-blue-600 active:bg-blue-800 rounded-lg shadow-md transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200 mt-6 self-end"
      (click)="showTrailerModal = true">
      Watch Trailer
    </button>
    <p *ngIf="!trailerUrl" class="text-sm text-red-500">No trailer available</p>
  </div>
</div>

  <!-- Trailer Modal -->
<div 
*ngIf="showTrailerModal" 
class="fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center z-50">
<div class="relative bg-white rounded-lg shadow-lg p-4 w-11/12 max-w-3xl">
  <button 
    class="absolute top-2 right-2 text-red-600 text-6xl font-bold hover:text-red-200"
    (click)="showTrailerModal = false">
    &times;
  </button>
  <iframe 
    *ngIf="trailerUrl"
    [src]="trailerUrl" 
    class="w-full h-64 md:h-96 rounded"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>
</div>

  <!-- Loading Template -->
  <ng-template #loading>
    <p>Loading movie details...</p>
  </ng-template>

  <!-- User Reviews Section -->
  <div class="reviews mt-8">
    <h3 class="text-2xl font-semibold">User Reviews</h3>
    <div *ngFor="let review of reviews" class="review bg-white rounded shadow-md p-4 my-4">
      <p class="font-bold">{{ review.username }} - <span [innerHTML]="getStars(review.rating)"></span></p>
      <p class="text-gray-600">{{ review.content }}</p>
    </div>
  </div>

  <!-- Add Review with Star Rating Section -->
  <div class="add-review mt-8 p-4 bg-gray-200 rounded-lg">
    <h3 class="text-xl font-semibold mb-4">Add Your Review and Rating</h3>
    <ng-container *ngIf="authService.isAuthenticated(); else loginPrompt">
      <textarea [(ngModel)]="newReviewContent" rows="3" class="w-full p-2 border border-gray-300 rounded mb-4" placeholder="Write your review here..."></textarea>
      <p *ngIf="errorMessage" class="text-red-500 mb-2">{{ errorMessage }}</p>
      <div class="star-rating mb-4">
        <span *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="newReviewRating = star" 
              (mouseenter)="hoverRating = star" 
              (mouseleave)="hoverRating = null"
              class="star cursor-pointer"
              [ngClass]="{
                'text-yellow-500': star <= (hoverRating || newReviewRating), 
                'text-gray-300': star > (hoverRating || newReviewRating)
              }">
        </span>
      </div>
      <button class="px-6 py-2 text-white font-medium uppercase tracking-wider bg-blue-600 hover:bg-white hover:text-blue-600 active:bg-blue-800 rounded-lg shadow-md transition-all duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-200" (click)="submitReview()">Submit Review</button>
    </ng-container>
    <ng-template #loginPrompt>
      <p class="text-gray-600">
        Please <a class="text-blue-600 underline cursor-pointer" (click)="redirectAfterTryingToCommentAsGuest()">login</a> to add a review.
      </p>
    </ng-template>
  </div>
</section>