<div class="carousel-section mb-2">
  <div class="text-center"> <!-- New wrapper for centering -->
    <h2 class="text-2xl font-bold mt-2">List of All Movies</h2>
  </div>
<section class="search-filters max-w-screen-lg mx-auto my-2 p-4 bg-blue-100 rounded-lg shadow-md">
    <div class="flex flex-col sm:flex-row items-center justify-between gap-4">
      <input 
        type="text" 
        placeholder="Search for movies..." 
        class="w-full sm:w-1/2 p-2 rounded border border-gray-300 focus:outline-none focus:border-blue-500"
        [(ngModel)]="searchQuery"
      />
      <select 
        class="w-full sm:w-1/4 p-2 rounded border border-gray-300 focus:outline-none focus:border-blue-500"
        [(ngModel)]="selectedGenre"
      >
        <option value="">All Genres</option>
        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
      </select>
      <select 
        class="w-full sm:w-1/4 p-2 rounded border border-gray-300 focus:outline-none focus:border-blue-500"
        [(ngModel)]="selectedRating"
      >
        <option value="">All Ratings</option>
        <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
      </select>
    </div>
  </section>
  
  <div class="movies-container max-w-screen-lg mx-auto mb-6">
    <div class="movies-inner grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 p-4 bg-blue-100 rounded-lg">
      <div *ngFor="let movie of filteredMovies" class="movie-card flex-none bg-white rounded shadow-md p-1">
        <img [src]="'movie.jpg'" alt="Movie Thumbnail" class="w-64 h-64 object-contain rounded" />        
        <h3 class="text-lg font-semibold mt-2">{{ movie.title }}</h3>
        <p class="text-sm text-gray-600">Rating: {{ movie.rating }}</p>
      </div>
    </div>